.main-history-div {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    font-family: 'Josefin Sans';
    color: #222;
}

.main-history-div h1 {
    font-size: 60px;
    margin-bottom: 30px;
}

.main-history-div a {
    text-decoration: none;
    font-size: 20px;
    background-color: #585858;
    padding: 15px;
    border-radius: 10px;
    color: #25b8f2;
    font-weight: 600;
}

.main-history-div a:hover {
    color: black;
    background-color: #f25f25;
}

.history-div {
    margin: 30px;
}

.clearBtn {
    color: white;
    background-color: #25b8f2;
    border-radius: 10px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 50px;
}

.clearBtn:hover {
    background-color: #f25f25;
}